@model SportsRatings.Models.CategoriesModel

@{
    ViewData["Title"] = "ADD New Category";
}
<div class="col-12 pt-1 pb-1">
    <h1 class="text-secondary display-6">CREATE NEW CATEGORY</h1>
</div>
<hr />
<br />
<div class="container-lg">
    <form method="post" asp-action="CreatePOST">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-md-6">
            <div>
                <label class="control-label mb-2" asp-for="Name"></label>
                <input class="form-control" asp-for="Name" placeholder="NAME" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <div class="form-group mt-3">
                    <label asp-for="Description" class="control-label mb-2"></label>
                    <textarea asp-for="Description" class="form-control" rows="3" placeholder="DESCRIBE NEW CATEGORY"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div>
            <input class="btn btn-primary text-white col-2" type="submit" value="CREATE" />
        </div>
    </form>
    <br />
    <br />
    <div>
        <a class="btn btn-outline-info col-2" asp-controller="Category" asp-action="GetAllCategories">VIEW CATEGORIES</a>
        <a class="btn btn-outline-secondary ms-3 col-2" asp-controller="Home" asp-action="Index">Back to Main Page</a>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
