@model SportsRatings.Models.CategoriesModel

@{
    ViewData["Title"] = "Delete";
}
<br />
<h3 class="text-danger display-6">CONFIRM DELETE</h3>
<hr />
<br />
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>CATEGORY NAME</th>
                <th class="text-center">SPORTS IN THE CATEGORY</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bg-light"><b>@Model.Name</b></td>
                @if (Model.Sports?.Count() > 0)
                {
                    foreach (var item in Model.Sports)
                    {
                        <td class="text-center">
                            @item.Name
                        </td> <!--Место для видов спорта в данной категории-->
                    }
                }
                else
                {
                    <td>NO DATA TO DISPLAY</td>
                }
            </tr>
        </tbody>

    </table>
    <br />
    <form method="post" asp-action="DeletePOST">
        <input asp-for="Id" type="hidden" />
        <input type="submit" value="DELETE" class="btn btn-danger col-lg-2" />        
    </form>
    <br />
    <br />
    <div>
        <a class="btn btn-outline-info col-2" asp-controller="Category" asp-action="GetAllCategories">VIEW CATEGORIES</a>
        <a class="btn btn-outline-secondary ms-3 col-2" asp-controller="Home" asp-action="Index">Back to Main Page</a>
    </div>
</div>
