@model CategoriesModel

@{
    ViewData["Title"] = "EDIT";
}

<div>
    <h1 class="text-secondary display-6">EDIT FOR <br/>'@Model.Name.ToUpper()' CATEGORY</h1>
</div>
<hr />
<br />
<div class="container">
    <form method="post" asp-action="EditPOST">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-lg-6">
            <input asp-for="Id" hidden/>
            <div class="form-group">
                <label asp-for="Name" class="control-label mb-2"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Description" class="control-label mb-2"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <!--Место для изменения списка видов спорта-->
            <br />
        </div>
        <div class="form-group col-lg-6">
            <input type="submit" class="btn btn-primary text-white col-lg-4" value="UPDATE" />
        </div>
        <br />
        <br />
        <div>
            <a class="btn btn-outline-info col-lg-2" asp-controller="Category" asp-action="GetAllCategories">VIEW CATEGORIES</a>
            <a class="btn btn-outline-secondary ms-3 col-lg-2" asp-controller="Home" asp-action="Index">Back to Main Page</a>
        </div>
    </form>
</div>