@{
    ViewData["Title"] = "Welcome Page";
}

<div class="container-lg">
    <h1 class="display-2 text-center">ДОБРО ПОЖАЛОВАТЬ!</h1>
    <br />
    <p>
        Вы любите спорт? И вы любите давать оценки?<br />
        Тогда вы там, где нужно! На нашем сервисе Вы можете создать рейтинг игроков и спортсменов полностью на свое усмотрение.<br />
        Любые виды спорта, все доступные фантазии дисциплины!<br />         
    </p>
    <br />
    <div class="border col-8 p-2">
        <p>
            Создание вашего личного рейтинга осуществляются всего в несколько шагов:
            <ol>
                <li>Выберите одну из доступных категорий <b>ИЛИ</b> создайте свою собственную...</li>
                <li>Добавьте новый вид спорта...</li>
                <li>Добавьте категории, по которым хотите осуществлять оценку...</li>
                <li>Начните заполнение вашего нового рейтинга, добавляя в него игроков и выставьте им оценки!</li>
            </ol>
        </p>
    </div>
    <br />
    <p>
        После того, как вы добавите рейтинг, он будет сохранен в вашей личной базе.<br />
        Вы сможете вернуться к рейтингу в любое время, и вы всегда будете иметь доступ к редактированию данных.
    </p>
    <br />
    <h3>Дерзайте!</h3>
</div>
<br />
<div class="container-lg">
    <form method="get">
        <a class="btn btn-primary col-2" asp-controller="Category" asp-action="Create">ADD NEW CATEGORY</a>
        <a class="btn btn-info text-white col-2" asp-controller="Sport" asp-action="Create" >ADD NEW SPORT</a>
        <a class="btn btn-warning text-white col-2" asp-controller="Sport" asp-action="GetAllSports" >VIEW ALL SPORTS</a>
        <a class="btn btn-secondary text-white col-2" asp-controller="Category" asp-action="GetAllCategories">VIEW ALL CATEGORIES</a>        
    </form>
</div>
