@model SportsRatings.Models.DTO.GetSportsInCategoryDTO

@{
    ViewData["Title"] = "Sports in Category";
}

<h1>@Model.Category.Name</h1>
<hr />

<div class="container-lg-12">
    @if (Model.Sports.Count() == 0)
    {
        <br />
        <div>
            <h3 class="text-secondary">В ДАННОЙ КАТЕГОРИИ ВИДЫ СПОРТА ОТСУТСТВУЮТ</h3>
        </div>
    }
    else
    {
        <table class="table table-hover col-lg-4">
            <thead>
                <tr>
                    <th>SPORT</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Sports.Count() > 0)
                {
                    @foreach (var item in Model.Sports)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    <div>
        <button type="button"></button>
    </div>
    <br />
    <br />
    <div class="col-lg-8">
        <a class="btn btn-outline-primary col-lg-3 me-3" asp-controller="Category" asp-action="GetAllCategories">VIEW CATEGORIES</a>
        <a class="btn btn-outline-info col-lg-3" asp-action="GetAllSports">VIEW SPORTS</a>
        <a class="btn btn-outline-secondary col-lg-3 float-end" asp-controller="Home" asp-action="Index">Back to Main Page</a>
    </div>
</div>

