@if (TempData["Success"] != null)
{
    <script src="~\wwwroot\lib\jquery\dist\jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"></script>
    <h4>@TempData["Success"]</h4>
}
